In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import os
import datetime
import math
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def show_trip_duration_in_per(data):
    print("Trip duration in percentile:")
    for i in np.arange(99,100,0.1):
        var = data["trip_duration"].values
        var = np.sort(var,axis = None)
        print("{} percentile value is {}".format(i,var[int(len(var)*(float(i)/100))]))
    print ("100 percentile value is ",var[-1])

In [3]:
data = pd.read_csv("2018_processed_data_2.csv")

In [4]:
data.shape

(8759530, 16)

In [5]:
data.head()

,Unnamed: 0,VendorID,passengers,trip_distance,PULID,DOLID,fare_amount,weekday,pickup_time,dropoff_time,pickup_date,drop_date,month,pickup_time_code,dropoff_time_code,trip_duration
0,0,1,1,0.5,41,24,4.5,Monday,00:21:05,00:24:23,2018-01-01,2018-01-01,1,1,1,3.300000
1,1,1,1,2.7,239,140,14.0,Monday,00:44:55,01:03:05,2018-01-01,2018-01-01,1,2,3,18.166667
2,2,1,2,0.8,262,141,6.0,Monday,00:08:26,00:14:21,2018-01-01,2018-01-01,1,1,1,5.916667
3,3,1,1,10.2,140,257,33.5,Monday,00:20:22,00:52:51,2018-01-01,2018-01-01,1,1,2,32.483333
4,4,1,2,2.5,246,239,12.5,Monday,00:09:18,00:27:06,2018-01-01,2018-01-01,1,1,1,17.800000

In [6]:
show_trip_duration_in_per(data)

Trip duration in percentile:
99.0 percentile value is 54.46666666666667
99.1 percentile value is 56.15
99.19999999999999 percentile value is 58.05
99.29999999999998 percentile value is 60.28333333333333
99.39999999999998 percentile value is 63.00000000000001
99.49999999999997 percentile value is 66.50000000000001
99.59999999999997 percentile value is 71.16666666666667
99.69999999999996 percentile value is 79.1
99.79999999999995 percentile value is 115.83333333333331
99.89999999999995 percentile value is 1421.833333333333
100 percentile value is  5382.066666666667

In [7]:
olen = data.shape[0]
data.drop(data[data['trip_duration'] > 608].index, inplace=True) 
print('Number of rows dropped: {}'.format(olen - data.shape[0]))

Number of rows dropped: 16022

In [8]:
data.shape

(8743508, 16)

In [12]:
data['month'].nunique()

2